<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="|Hello, ${name}!|"/>

Feeling down?
Need a quote that inspires?
I got you.
I got you, fam.
Here they come.

<div id="toggle-container">
    <label class="toggle">
        <input type="checkbox" id="auto-advance-toggle">
        <span class="slider"></span>
    </label><span id="auto-advance-text">Auto-advance <span id="toggle-indicator-text">off</span></span>
</div>
<div id="quoteContainer">

</div>
<button type="button" id="next-button">Next</button>

    <form id="new-quote-form">
        <label for="quote">Quote:</label><br>
        <input type="text" id="quote" name="quote" value=""><br>
        <label for="author">Last name:</label><br>
        <input type="text" id="author" name="author" value=""><br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>

<script>


    const alreadySeen = [];

    function handleToggleClick() {
        if (this.checked) {
            document.getElementById("toggle-indicator-text").innerText = "on";
        } else {
            document.getElementById("toggle-indicator-text").innerText = "off";
        }
    }

    function handleNextClick() {
        getData(alreadySeen);
    }


    async function getData(alreadySeen) {
        const url = "/inspirational-quote/random";
        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({"alreadySeen": alreadySeen})
            });
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }
            const status = response.status;


            if (status === 200) {
                const json = await response.json();
                console.log(json);
                document.getElementById("quoteContainer").innerText = json.quote;
                alreadySeen.push(json.id);
            }

        } catch (error) {
            console.error(error.message);
        }
    }

    async function handleSubmit(event) {
        console.log("SUBMITTING")
        event.preventDefault();
        const form = event.currentTarget;
        const formData = new FormData(form);
        const plainFormData = Object.fromEntries(formData.entries());
        const formDataJsonString = JSON.stringify(plainFormData);
        console.log("DATA :  " + formDataJsonString)

        const url = "/inspirational-quote/create";
        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json; charset=utf-8'
                },
                body: formDataJsonString,
            });
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }
            const status = response.status;


            if (status === 200) {
                console.log("saved");

            }

        } catch (error) {
            console.error(error.message);
        }
    }



    document.addEventListener("DOMContentLoaded", (event) => {
        document.getElementById("auto-advance-toggle").addEventListener("change", handleToggleClick);
        document.getElementById("next-button").addEventListener("click", handleNextClick);
        document.getElementById("new-quote-form").addEventListener("submit", handleSubmit);
    });

</script>