<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="iqdb.js"></script>
</head>
<body>
<!--<p th:text="|Hello, ${name}!|"/>-->
<div id="toggle-container">
    <label class="toggle">
        <input type="checkbox" id="auto-advance-toggle">
        <span class="slider"></span>
    </label><span id="auto-advance-text">Auto-advance <span id="toggle-indicator-text">off</span></span>
</div>
<div id="quoteContainer">

</div>
<button type="button" id="next-button">Next</button>
<hr>
<form id="new-quote-form">
    <label for="quote">Quote:</label><br>
    <textarea id="quote" name="quote" rows="4"  cols="100" required></textarea><br>
    <label for="author">Author:</label><br>
    <input type="text" id="author" name="author" value="" required><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>

