<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="iqdb.js"></script>
</head>
<body>
<div id="toggle-container" class="hidden">
    <span id="auto-advance-text">Auto-advance</span>
    <label class="toggle">
        <input type="checkbox" id="auto-advance-toggle">
        <span class="slider"></span>
    </label>
</div>
<div id="quote-container" class="centering-div">
</div>
<div class="centering-div">
    <button class="button" type="button" id="next-button">Next</button>
</div>
<br><br>
<hr>
<br><br>
<div id="form-area">
    <h3>Add your own! Impress you friends!</h3>
    <form id="new-quote-form">
        <label for="quote">Quote:</label><br>
        <textarea id="quote" name="quote" rows="4" cols="100" required></textarea><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="" required><br><br>
        <input class="button" type="submit" value="Submit">
    </form>
</div>

<div id="alert-display" class="centering-div hidden">
    <div id="alert-box">
        <span id="alert-box-text">Succesfully saved! It belongs to me now.</span>
        <br><br>
        <div class="centering-div">
            <button class="button" type="button" id="alert-button">Understood</button>
        </div>
    </div>
</div>

</body>
</html>

